@import "../bootstrap/scss/_functions.scss";
@import "functions";
@import "variables";
@import "../bootstrap/scss/_variables.scss";
@import "../bootstrap/scss/_mixins.scss";
@import "../bootstrap/scss/_reboot.scss";
@import "../bootstrap/scss/_type.scss";
@import "../bootstrap/scss/utilities/align";
@import "../bootstrap/scss/utilities/borders";
@import "../bootstrap/scss/utilities/display";
@import "../bootstrap/scss/utilities/flex";
@import "../bootstrap/scss/utilities/position";
@import "../bootstrap/scss/utilities/spacing";
@import "../bootstrap/scss/utilities/text";
@import "reset";
@import "mixins";
@import "borders";
@import "preloader";
@import "type";
@import "spacing";
@import "page";
@import "backgrounds";
@import "text";
@import "../accordion/accordion";
@import "../misc/neu";
@import "minicard";
@import "../accordion/accordion";
@import "../animate/animate";
@import "../block/block";
@import "../blurb/blurb";
@import "../box/box";
@import "../nav/nav";
@import "../button/button";
@import "../countdown/countdown";
@import "../counter/counter";
@import "../divider/divider";
@import "../font-awesome/font-awesome";
@import "../form/form";
@import "../form-output/form-output";
@import "../fullpage/fullpage";
@import "../grid/grid";
@import "../icon/icon";
@import "../image-hover/image-hover";
@import "../image-svg/image-svg";
@import "../lightgallery/lightgallery";
@import "../list/list";
@import "../mdi/mdi";
@import "../media/media";
@import "../modal/modal";
@import "../multiswitch/multiswitch";
@import "../owl-carousel/owl.carousel.scss";
@import "../partner/partner";
@import "../post/post";
@import "../preloader/preloader";
@import "../pricing/pricing";
@import "../quote/quote";
@import "../rd-mailform/rd-mailform";
@import "../regula/regula";
@import "../rights/rights";
@import "../section/section";
@import "../slick/slick";
@import "../snackbar/snackbar";
@import "../swiper/swiper";
@import "../table/table";
@import "../team/team";
@import "../to-top/to-top";
@import "../tooltip/tooltip";
@import "../video/video";
@import "../rd-navbar/rd-navbar";
// Variables
$navbar-color: $body-color;
$navbar-hover: $primary;
$navbar-background: transparent;
$navbar-zindex: $zindex-fixed;
$navbar-shadow: none;
[class*="css"],
[class$="css"],
[attribute^="css"] {
    /* WE USE * HERE */
    font-family: 'Raleway' !important;
    font-weight: 100 !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* roundbuttonnooutline */
    overflow-x: hidden;
    text-transform: uppercase;
    border: 1px solid #2D2F34;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 260%;
    padding: 15px;
    /* or 42px */
}
.tinyfootertext {
    font-size: 0.8rm;

}

/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.mCustomScrollBox {
    overflow: visible !important;
}

.icon-lg.icon-rect,
.icon-lg.icon-round,
.icon-lg.icon-circle {
    width: 5.75rem;
}


/* Shrinking the sidebar from 250px to 80px and center aligining its content*/

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/

#sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}


/* Same dropdown links padding*/

#sidebar.active ul ul a {
}


/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.bluemoon {
    width: 100% !important;
}

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }
    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }
    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
    }
    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

.submenustyle {
    background: linear-gradient(130.46deg, #26272B 12.58%, #34393F 93.19%);
/* Neu */
@include transition;
box-shadow: 4px 3px 19px #0D0E0F, inset 0px 1px 0px #000000, inset -5px -5px 20px #40464E;
border-radius: 20px;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {

}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /*background: linear-gradient(139.08deg, #353A40 10.44%, #121416 95.94%);*/
    /* roundbuttonnooutline */
    border: 1px solid #2D2F34;
    overflow-x: show;
    text-transform: none;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 150%;
    /* or 42px */
}
.dropdownmenu {

    background: linear-gradient(130.46deg, #26272B 12.58%, #34393F 93.19%);
    box-shadow: -5px -5px 20px #40464E, 4px 3px 19px #0D0E0F;
    border-radius: 20px;
}
.dropdownmenuexpanded {
    background: linear-gradient(130.46deg, #26272B 12.58%, #34393F 93.19%);
box-shadow: -5px -5px 20px #40464E, 4px 3px 19px #0D0E0F;
border-radius: 20px;
}


//
// Tabs
//

.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  
    .nav-item {
      margin-bottom: -$nav-tabs-border-width;
    }
  
    .nav-link {
      border: $nav-tabs-border-width solid transparent;
      @include border-top-radius($nav-tabs-border-radius);
  
      @include hover-focus {
        border-color: $nav-tabs-link-hover-border-color;
      }
  
      &.disabled {
        color: $nav-link-disabled-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
  
    .nav-link.active,
    .nav-item.show .nav-link {
      color: $nav-tabs-link-active-color;
      background-color: $nav-tabs-link-active-bg;
      border-color: $nav-tabs-link-active-border-color;
    }
  
    .dropdown-menu {
      // Make dropdown border overlap tab border
      margin-top: -$nav-tabs-border-width;
      // Remove the top rounded corners here since there is a hard edge above the menu
      @include border-top-radius(0);
    }
  }
  
  
  //
  // Pills
  //
  
  .nav-pills {
    .nav-link {
      @include border-radius($nav-pills-border-radius);
    }
  
    .nav-link.active,
    .show > .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $nav-pills-link-active-bg;
    }
  }
  
  
  //
  // Justified variants
  //
  
  .nav-fill {
    .nav-item {
      flex: 1 1 auto;
      text-align: center;
    }
  }
  
  .nav-justified {
    .nav-item {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
    }
  }
  
  
  // Tabbable tabs
  //
  // Hide tabbable panes to start, show them when `.active`
  
  .tab-content {
    > .tab-pane {
      display: none;
    }
    > .active {
      display: block;
    }
  }
  
#sidebar ul li a {
    padding: 1px;
    font-size: 1em !important;
    display: block;
    text-align: center !important;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /* border-bottom: 1px solid #47748b; */
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    filter: drop-shadow(-5px -5px 20px #40464E), drop-shadow(4px 3px 19px #0D0E0F);
    border-radius: 16px;
    padding-bottom: 30px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

#sidebar ul li a:hover {}

#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.mCustomScrollBox {
    overflow: visible !important;
}

#sidebar {
    padding: 20px !important;
}

#sidebar ul li a {
    padding: 1px;
    font-size: 1em;
    display: block;
    text-align: center;
}

.neubutton {
    background: linear-gradient(128.11deg, #26272B 6.67%, #34393F 97.78%);
    box-shadow: 1px 1px 5px #0D0E0F, -3px -3px 9px #353B42, inset 1px 1px 9px #2D2E35;
    border-radius: 40px;
    width: 100%;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    @include transition;
    position: relative;
    z-index: 9;
}

.neubutton::after {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: fit-content;
    background: linear-gradient(137.63deg, #26272B 9.53%, #34393F 95.92%);
    box-shadow: inset 2px 2px 6px #0D0E0F, inset -2px -2px 3px #40464E;
    border-radius: 40px;
    opacity: 0;
    text-decoration: none !important;
    z-index: 99;
    font-family: 'Raleway' !important;
    font-weight: 100 !important;
}

.neubutton:hover,
button:focus,
.neubutton:focus {
    -webkit-transform: scale(1, 1);
    text-decoration: none !important;
    transform: scale(1, 1);
}

.neubutton::after:hover,
.neubutton::after:active,
.neubutton::after:focus {
    opacity: 1 !important;
    -webkit-transform: scale(1, 1);
    text-decoration: none !important;
    transform: scale(1, 1);
}