/* ------------------------------------------------------------ *\
  Vendor
\* ------------------------------------------------------------ */

//@import '~vendor-name/vendor.scss/css';

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import 'generic/variables';
@import 'generic/functions';
@import 'generic/mixins';
@import 'generic/reset';
@import 'generic/helpers';

/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */



/* ------------------------------------------------------------ *\
	Overwrites
\* ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald');

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */


/*
@import 'generic/base';*/



/* ------------------------------------------------------------ *\
	Components
\* ------------------------------------------------------------ */

@import "components/accordion";
@import "components/animation";
@import "components/bar";
@import "components/box-different";
@import "components/btn-dark";
@import "components/btn-round";
@import "components/btn-small";
@import "components/btn";
@import "components/checkbox-alt";
@import "components/checkbox-different";
@import "components/checkbox";
@import "components/components";
@import "components/dropdown";
@import "components/field";
@import "components/footer";
@import "components/header";
@import "components/icons";
@import "components/item";
/*@import "components/logo";
@import "components/main";*/
@import "components/nav";
@import "components/panel";

@import "components/pp-section";
@import "components/radio-alt";
@import "components/radio-group";
@import "components/radio";
@import "components/range-slider-alt";
@import "components/range-slider";
@import "components/section-about";
/*@import "components/section";*/
@import "components/select";
@import "components/shell";
@import "components/slider";
@import "components/switch";

@import "components/tag";
/*@import "components/wrapper";*/
li.tiny-text.text-left.left-text.targetme {
    padding: 0px !important;
    margin: 0px !important;
    line-height: 2 !important;
    text-align: left !important;
}
.components .components__row {
    margin: 20px 0;
}
@mixin neuneubg {
background: linear-gradient(0deg, #121212, #212121), url('/media/img/texture.svg');
background-attachment: fixed;
background-size: cover;
background-blend-mode: normal, luminosity;
/* mbtiblockstroke */

border: 2px solid #121212;
/* mbtieffect */

box-shadow: -5px -5px 20px #000000, 3px 3px 10px #212121;
}
.wrapper {
  @include neuneubg;
}

.minineucardcontainer, .neucardcontainer {
    background-image: linear-gradient(135deg, #333333 0%, #212121 49%, #121212 100%), linear-gradient(139deg, #333333 1%, #212121 45%, #121212 75%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
}

.sidebar {
  padding: 1.875rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  background-image: linear-gradient(135deg, #333333 0%, #212121 49%, #121212 100%), linear-gradient(139deg, #333333 1%, #212121 45%, #121212 75%);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  box-shadow: 1.875rem 1.5625rem 1.375rem rgba(21, 22, 24, 0.24), -4px -4px 15px rgba(195, 200, 205, 0.04);
}