@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import '../base/mixins';
// Variables
$navbar-color: $body-color;
$navbar-hover: $primary;
$navbar-background: transparent;
$navbar-zindex: $zindex-fixed;
$navbar-shadow: none;
// Base
.rd-navbar {
    position: relative;
    z-index: $navbar-zindex;
    color: $navbar-color;
    li {
        list-style: none;
    }
}

.navbar-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 1;
    opacity: 1;
    visibility: visible;
    background: none;
    color: inherit;
    transition: .25s ease-in-out;
    &::before,
    &::after {
        position: absolute;
        transition: .25s, color 0s;
    }
    &::before {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
    &::after {
        content: '\f24c';
        transform: rotate(90deg) scale(0);
        opacity: 0;
    }
    &:hover {
        color: $navbar-hover;
    }
    &.navbar-info-active,
    &.navbar-search-active,
    &.navbar-cart-active,
    &.active {
        &::before {
            transform: rotate(-90deg) scale(0);
            opacity: 0;
        }
        &::after {
            transform: rotate(0deg) scale(1);
            opacity: 1;
        }
    }
}

// Logo
.navbar-logo {}

.navbar-logo-link {
    display: block;
    margin: 0;
    @include media-breakpoint-up(xl) {
        margin-top: -6px;
    }
    @include media-breakpoint-up(xxl) {
        margin-top: -0.5208vw;
    }
}

.navbar-logo-default,
.navbar-logo-inverse {
    margin: 0;
}

.navbar-logo-inverse {
    display: none;
}

// Layouts
@import 'rd-navbar-fixed';
@import 'rd-navbar-fullwidth';
@import 'rd-navbar-sidebar';
.swiper-modern .swiper-slide-active .blurb-boxed,
.swiper-modern .swiper-slide-next .blurb-boxed,
.swiper-modern .swiper-slide-next+.swiper-slide .blurb-boxed {
    min-height: 40vh;
}

.sidebar {
    padding: 20px;
    font-family: 'Raleway' !important;
}

#sidebar {
    padding: 20px;
    font-family: 'Raleway' !important;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    /* roundbuttonnooutline */
    overflow-x: hidden;
    text-transform: uppercase;
    /*background: linear-gradient(139.08deg, #353A40 10.44%, #121416 95.94%);
    */padding: 1px solid #2D2F34;
    box-shadow: 52px 20px 88px rgba(2, 3, 3, 0.5), -8px -16px 56px rgba(108, 91, 167, 0.14), inset -16px -6px 80px rgba(248, 249, 249, 0.03);
    border-radius: 20px;
    /* Note: backdrop-filter has minimal browser support */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 260%;
    padding: 15px;
    /* or 42px */
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li {
    filter: drop-shadow(-5px -5px 20px #40464E), drop-shadow(4px 3px 19px #0D0E0F);
    border-radius: 16px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fefefe !important;
}


/* effect-shine */

.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%) !important;
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}



#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}



ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page {
    width: calc(100% - 250px);
    padding: 40px;
    transition: all 0.3s;
    margin-left: calc(100% - calc(100% - 250px));
    min-height: 100vh;
}

.page.active {
    width: 100%;
    margin-left: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .page {
        width: 100%;
    }
    .page.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.mCustomScrollBox {
    overflow: visible !important;
}

.icon-lg.icon-rect,
.icon-lg.icon-round,
.icon-lg.icon-circle {
    width: 5.75rem;
}


/* Shrinking the sidebar from 250px to 80px and center aligining its content*/

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}


/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/

#sidebar .sidebar-header strong {
    display: none;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}


/* Same dropdown links padding*/

#sidebar.active ul ul a {
}


/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}


/* display .overlay when it has the .active class */

.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    /* Reappearing the sidebar on toggle button click */
    #sidebar {
        margin-left: 0;
    }
    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }
    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }
    #sidebar.active ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
    }
  
    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}