---
pagination:
  data: collections.posts
  size: 1
  alias: post
  addAllPagesToCollections: true
layout: 'post'
permalink: '{{ post.url }}'
---

{{ post.html | safe if post.html else "Post content not found" }}
