---
layout: base
---

      <section class="section section-lg section-one-screen">
        <div class="container">
          <h2 class="text-center">FAQ</h2>
          <div class="row row-offset-sm row-30 accordion">
            <div class="col-lg-6">
              <!-- Accordion-->
              <article class="accordion-item active">
                <button class="accordion-head"><span class="accordion-title h5">In what formats are your templates available?</span><span class="accordion-icon"><span class="icon icon-circle icon-sm icon-style-2 mdi-plus"></span></span></button>
                <div class="accordion-body">
                  <div class="accordion-text">Website templates are available in Photoshop and HTML formats. Fonts are included with the Photoshop file. In most templates, HTML is compatible with Adobe® Dreamweaver® and Microsoft® FrontPage®.</div>
                </div>
              </article>
              <!-- Accordion-->
              <article class="accordion-item">
                <button class="accordion-head"><span class="accordion-title h5">What am I allowed to do with the templates?</span><span class="accordion-icon"><span class="icon icon-circle icon-sm icon-style-2 mdi-plus"></span></span></button>
                <div class="accordion-body">
                  <div class="accordion-text">You may build a website using the template in any way you like. You may not resell or redistribute templates (like we do); claim intellectual or exclusive ownership to any of our products, modified or unmodified. All products are property of content providing companies and individuals. You are also not allowed to make more than one project using the same template (you have to purchase the same template once more in order to make another project with the same design).</div>
                </div>
              </article>
              <!-- Accordion-->
              <article class="accordion-item">
                <button class="accordion-head"><span class="accordion-title h5">Do you provide any scripts with your templates?</span><span class="accordion-icon"><span class="icon icon-circle icon-sm icon-style-2 mdi-plus"></span></span></button>
                <div class="accordion-body">
                  <div class="accordion-text">Our templates do not include any additional scripts. Newsletter subscriptions, search fields, forums, image galleries (in HTML versions of Flash products) are inactive. Basic scripts can be easily added at www.zemez.io If you are not sure that the element you’re interested in is active please contact our Support Chat for clarification.</div>
                </div>
              </article>
            </div>
            <div class="col-lg-6">
              <!-- Accordion-->
              <article class="accordion-item">
                <button class="accordion-head"><span class="accordion-title h5">What are the advantages of purchasing a website template?</span><span class="accordion-icon"><span class="icon icon-circle icon-sm icon-style-2 mdi-plus"></span></span></button>
                <div class="accordion-body">
                  <div class="accordion-text">The major advantage is price: You get a high quality design for just $20-$70. You don’t have to hire a web designer or web design studio. Second advantage is time frame: It usually takes 5-15 days for a good designer to produce a web page of such quality.</div>
                </div>
              </article>
              <!-- Accordion-->
              <article class="accordion-item">
                <button class="accordion-head"><span class="accordion-title h5">How can I pay for my order?</span><span class="accordion-icon"><span class="icon icon-circle icon-sm icon-style-2 mdi-plus"></span></span></button>
                <div class="accordion-body">
                  <div class="accordion-text">We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.</div>
                </div>
              </article>
              <!-- Accordion-->
              <article class="accordion-item">
                <button class="accordion-head"><span class="accordion-title h5">What do I receive when I order a template from Zemez?</span><span class="accordion-icon"><span class="icon icon-circle icon-sm icon-style-2 mdi-plus"></span></span></button>
                <div class="accordion-body">
                  <div class="accordion-text">After you complete the payment via our secure form you will receive the instructions for downloading the product. The source files in the download package can vary based on the type of the product you have purchased.</div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
  